RewriteEngine On

RewriteCond %{HTTP_HOST} ^http://localhost/php/TempCard [NC] 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule ^ecard/([A-Za-z0-9-]+)/?$ card.php?mobile=$1
